{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center flex-column m-auto">
        <h1>Detalle de Oficina</h1>
        <p><strong>Nombre:</strong> {{ oficina.nombre }}</p>
        <p><strong>Nombre corto:</strong> {{ oficina.nombreCorto }}</p>
    
        <h2>Personas en esta oficina</h2>
        <ul>
            {% for persona in oficina.personas.all %}
                <li>{{ persona.nombre }} {{ persona.apellido }}</li>
            {% empty %}
                <li>No hay personas en esta oficina</li>
            {% endfor %}
        </ul>
        
        <a href="{% url 'oficina:lista' %}">Volver</a>
    </div>
{% endblock %}